<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
  <ion-card-header>
    <ion-card-subtitle>Estas apunto de cargar el soporte de pago!</ion-card-subtitle>
    <ion-card-title>SOPORTE DE PAGO</ion-card-title>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="newspaper-outline"></ion-icon>SOPORTE DE PAGO 
      </ion-label>
      <br>
      <ion-input id="comisiones" type="file" accept="*" (change)="changeListener($event,'garantias')" required>
      </ion-input>
    </ion-item>
    <div style="text-align: center;">

      <ion-button (click)="loadDoc()">Confirmar</ion-button>
      <ion-button (click)="cancelarEliminacion()">Cancelar</ion-button>
    </div>
  </ion-card-header>
</ion-content>