<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
    <div #pagetop id="pagetop"></div>  
        <nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg shadow" >
            
            <a  href="javascript:window.location.reload(true)" > 
                    <img #menuimg  class="img-fluid" > 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item mx-0 mx-lg-1"><a target="_blank" href="https://checkout.wompi.co/l/VPOS_TbLEZj" style="background-color: #fff;" class="nav-link py-3 px-0 px-lg-3 rounded "   data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"  >{{menu6}}</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a style="background-color: #fff;"  [routerLink]=""data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" class="nav-link py-3 px-0 px-lg-3 rounded " (click)="scrollToElement(about)" >{{menu1}}</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a style="background-color: #fff;"  [routerLink]="" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" class="nav-link py-3 px-0 px-lg-3 rounded " (click)="scrollToElement(servicios)" >{{menu2}}</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a style="background-color: #fff;"  [routerLink]="" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" class="nav-link py-3 px-0 px-lg-3 rounded " (click)="scrollToElement(contacto)" >{{menu3}}</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a style="background-color: #fff;"  [routerLink]="" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" class="nav-link py-3 px-0 px-lg-3 rounded " (click)="scrollToElement(clientessatisfechos)" >{{menu4}}</a></li>               
                    <li class="nav-item mx-0 mx-lg-1"><a style="display: flex;background-color: #fff;" class="nav-link py-3 px-0 px-lg-3 rounded " [routerLink]="" (click)="login()"  > {{menu5}} &nbsp; <ion-icon  style="color:#007bff"    name="person" ></ion-icon></a></li> 
                </ul>
            </div>
  </nav>    
  <video *ngIf="tipovideo === 'mp4'" id='video_player' width="100%" height="80%" #videoPlayer autoplay  playsinline class="_makina">
    <source  src="{{nombrevideo}}" type="video/mp4">
</video> 
<img width="100%" height="90%"  #imgPlayer *ngIf="tipovideo === 'img'">

<div id="sonidohidden" *ngIf="optionuser === 'sonidohidden'">
<input type='button' value='Activar Sonido 🔊' id='sonido' (click)="toggleMuteAudio()">
</div> 
 <div #about></div> 
           <div style="margin-top: 95px;"></div>
            <div class="container-fluid" id="sobrenosotros">
                <div class="row bordegris">
                    <div class="col-md-12 col-sm-12 " >&nbsp;</div>
                    <div class="col-md-6 col-sm-12 text-center ">        
                            <img class="sombradiv img-fluid rounded" style="box-shadow: 5px 5px 5px 5px #999  !important;"  #sobrenosotrosimg >    
                    </div>
                    <div class="col-md-6 col-sm-12">
                        &nbsp;
                        <h1 class="textonosotros"><strong>{{sobrenosotrostext}}</strong></h1><br><br>
                        <div class="container text-justify">
                            <span class="fontptextnosotros">{{sobrenosotrostextbody}}</span>  </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">&nbsp;</div>


                </div>
            </div> 
            <br>
            <div class="contador row text-center" >
                <div class="col-md-12 col-sm-12 ">&nbsp;</div>
                <div class="col-md-4 col-sm-4 cont1"><span class="">0</span><br><br><p class="text-white">{{count1}}</p></div>
                <div class="col-md-4 col-sm-4 cont2"><span class="">0</span><br><br><p class="text-white">{{count2}}</p></div>
                <div class="col-md-4 col-sm-4 cont3"><span class="">0</span><br><br><p class="text-white">{{count3}}</p></div>  
            </div>
            <div #servicios></div> 
            <div style="margin-top: 95px;"></div>
          <div  class="container" id="servicios">  
                <h1 class="textonosotros text-center"><strong>{{serviciostext}}</strong></h1>
                <div class="container"> <span class="fontext1 text-justify"> {{serviciostextbody}} </span></div>

                   <div class="row ">
                    <div class="col-md-12 col-sm-12 " >&nbsp;</div>
                    <div class="col-md-6 col-sm-12 text-center ">        
                            <img class="sombradiv img-fluid rounded" style="box-shadow: 5px 5px 5px 5px #999  !important;" #servicio1img  >
                        
                    </div>
                    <div class="col-md-6 col-sm-12">
                        &nbsp;
                        <h3 class="textonosotros"><strong>{{servicio1}} </strong></h3>
                        <ul class="fontptextnosotros text-left ul_credi">
                            <li>{{servicio1body1}}</li>
                            <li>{{servicio1body2}}</li>
                            <li>{{servicio1body3}}</li>
                            <li>{{servicio1body4}} </li>
                            <li>{{servicio1body5}}</li>
                        </ul>  
                        
                    </div>
                    <div class="col-md-12 col-sm-12 ">&nbsp;</div>

                    <div class="col-md-12 col-sm-12 " >&nbsp;</div>
                    <div class="col-md-6 col-sm-12 text-center ">        
                            <img class="sombradiv img-fluid rounded" style="box-shadow: 5px 5px 5px 5px #999  !important;"  #servicio2img >
                        
                    </div>
                    <div class="col-md-6 col-sm-12">
                        &nbsp;
                        <h3 class="textonosotros"><strong>{{servicio2}} </strong></h3><br><br>
                        <div class="container text-justify"><span class="fontptextnosotros text-justify">{{servicio2body1}}</span>  </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">&nbsp;</div>
                </div>          
            </div> 
            <div #clientessatisfechos></div> 
            <div style="margin-top: 95px;"></div>
            <div class="container" id="clientessatisfechos">
                <h1 class="textonosotros text-center"><strong>{{clientessatisfechostext}}</strong></h1>   
            </div>
            <div class="container text-center">
                <figure class="highcharts-figure">
                    <div id="container"></div>
                  </figure>
             </div>     
             <div #contacto></div> 
             <div style="margin-top: 80px;"></div>
             <div id="imagen" #contactoimg class="formContact container-fluid" id="contacto" >              
                 <div class="container text-white">
                    <p>&nbsp;</p>
                    <h1 class="labeCont text-center"><strong>{{contacttext}}</strong></h1> 
                    <form method="POST"> 
                        &nbsp; 
                        <div class="row textcont">
                            <div class="col-md-6">
                                <label>{{contactbody1}}</label>
                                <input   type="text" class="form-control" [(ngModel)]="contact.nom" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                <label>{{contactbody1Id}}</label>
                                <input type="number" class="form-control" [(ngModel)]="contact.ident" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                <label>{{contactbody2}} </label>
                                <input   type="text" class="form-control" [(ngModel)]="contact.ent" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                <label>{{contactbody3}} </label>
                                <input   type="number" class="form-control" [(ngModel)]="contact.tel" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                <label>{{contactbody4}}</label>
                                <input  type="text" class="form-control" [(ngModel)]="contact.ciu" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="col-md-6">
                                <label>{{contactbody5}}</label> 
                                <input type="email" id="email"    required
                                pattern=".+@globex\.com"  class="form-control" [(ngModel)]="contact.ema" [ngModelOptions]="{standalone: true}"> 
                            </div>
                            <div class="col-md-12">
                                <label>{{contactbody6}}</label>
                                <textarea class="form-control" [(ngModel)]="contact.des" [ngModelOptions]="{standalone: true}"></textarea>
                            </div> 
                        </div>
                        &nbsp; 
                        <div class="text-center">
                            <div id="success"></div>
                            <button  (click)="contactSend()" class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">{{textbutton}}</button>
                        </div>  
                    </form>
                </div>   
            </div>
            <div class="container-fluid">
            <footer class="footer fontazul">
                <div class="row justify-content-end">
                    <div class="col-md-4 col-sm-12">
                      <h3>{{contactbody7}}</h3>
                        <a target="_blank" href="https://www.facebook.com/figarantias"><img width="40px" src="../../../../assets/img/redes/facebook.png"></a>&nbsp;
                        <a target="_blank" href="https://www.instagram.com/figarantias/"><img width="40px" src="../../../../assets/img/redes/instagram.png"></a>&nbsp;
                        <a target="_blank" href="https://co.linkedin.com/company/figarantias?trk=public_profile_topcard-current-company"><img width="40px" src="../../../../assets/img/redes/linkedin.png"></a>
                    </div>
                    <div class="col-md-4 col-sm-12 text-left">
                       <h3>{{contactbody8}}:</h3> 
                        <span>{{direccion}}</span><br>
                        <span>{{contactbody9}}: {{pbx}}</span><br>
                        <span>{{contactbody10}}: {{cel}}</span><br>
                        <a style="color: rgb(105, 183, 255);" [routerLink]=""  class="mr-3" (click)="presentModal()">Política de privacidad</a>
                        <a style="color: rgb(105, 183, 255);" [routerLink]=""  (click)="presentModal()">Condiciones de uso</a>
                    </div>
                  </div>
                  <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; FIGARANTIAS 2020 - {{dates}}</span>
                        </div>
                    </div>
                </footer>
            </footer>
            <p class="text-muted small mb-0">Design by &copy; Hastecnologia S.A.S 2021</p>
            <p class="text-muted small mb-0">Version &copy; V-001223 </p> 
            </div>
            <a [routerLink]="" (click)="scrollToElement(pagetop)" class="btn-flotante text-white"><ion-icon name="arrow-up-outline"></ion-icon></a>
            &nbsp; 
</ion-content>