<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
    <div style="text-align: right;">
        <ion-button fill="outline" (click)="dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    <div class="container  text-justify">{{term}}
    </div>
</ion-content>