<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
        <ion-card-header> 
           <ion-card-title style="text-align: center;" class="text-primary">CONFIRMACIÓN DE EDICIÓN DEL REPORTE CARTERA</ion-card-title>      
            <ion-row *ngIf="option === 'consult' ">
                <ion-col  >
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="calculator-outline"></ion-icon>CELULAR
                  </ion-label>
                  <ion-input  type="number"  [(ngModel)]="garantiahist.celular" [ngModelOptions]="{standalone: true}">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col >
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="briefcase-outline"></ion-icon>MAIL
                  </ion-label>
                  <ion-input   [(ngModel)]="garantiahist.mail" [ngModelOptions]="{standalone: true}">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col   >
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="cafe-outline"></ion-icon>DIRECCIÓN
                  </ion-label>
                  <ion-input    [(ngModel)]="garantiahist.direccion" required
                    [ngModelOptions]="{standalone: true}">
                  </ion-input>
                </ion-item>
              </ion-col>  
              <ion-col   >
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="pin-outline"></ion-icon>CIUDAD
                  </ion-label>
                  <ion-input    [(ngModel)]="garantiahist.ciudad" required
                    [ngModelOptions]="{standalone: true}">
                  </ion-input>
                </ion-item>
              </ion-col> 
              <ion-col   >
                <ion-item>
                  <ion-label position="floating">
                    <ion-icon name="locate-outline"></ion-icon>DEPARTAMENTO
                  </ion-label>
                  <ion-input   [(ngModel)]="garantiahist.departamento" required
                    [ngModelOptions]="{standalone: true}">
                  </ion-input>
                </ion-item>
              </ion-col>  
              </ion-row>
              
            <div style=" text-align: center;">
              <ion-button (click)="confirmar()">Confirmar</ion-button> 
                <ion-button (click)="cancelarEdicion()">Cancelar</ion-button> 
              </div>
            </ion-card-header> </ion-content>