<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
        <ion-card-header>
            <ion-card-subtitle>Estas apunto de sumar las garantias del cargue!</ion-card-subtitle>
            <ion-card-title style="text-align: center;">SUMA DE GARANTIAS DEL CARGUE </ion-card-title> 
            <ion-card>
              <ion-item> 
                <ion-input type="text" (change)="applyFilterGarantiasTotal($event.target.value)"
                (keyup)="applyFilterGarantiasTotal($event.target.value)" placeholder="Filtro de Busqueda">
              </ion-input>
              </ion-item>
              <div class="div-table"> 
                <table #exporter="matTableExporter" matTableExporter mat-table [dataSource]="dataSourceTotal"
                  class="mat-elevation-z8">
                  <!-- cobertura Column -->
                  <ng-container matColumnDef="idgarantia">
                    <th style="text-align: center; width: 100px;"  mat-header-cell *matHeaderCellDef> ID CARGUE GARANTIAS </th>
                    <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.idgarantia}} </td>
                  </ng-container> 
                  <!-- cobertura Column -->
                  <ng-container matColumnDef="estado">
                    <th style="text-align: center; width: 100px;"  mat-header-cell *matHeaderCellDef> ESTADO </th>
                    <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.estado}}</td>
                  </ng-container>
                  <!-- cobertura Column -->
                  <ng-container matColumnDef="idcomision">
                    <th style="text-align: center; width: 100px;"  mat-header-cell *matHeaderCellDef> FECHA REPORTE. </th>
                    <td style="text-align: center;"  mat-cell *matCellDef="let element"> {{element.fechareporte}}</td>
                  </ng-container>
                  <!-- administracion Column -->
                  <ng-container matColumnDef="cobertura">
                    <th style="text-align: center; width: 100px;" mat-header-cell *matHeaderCellDef> COBERTURA </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.cobertura| currency}} </td>
                  </ng-container>
                  <!-- ivaadministracion Column -->
                  <ng-container matColumnDef="administracion">
                    <th style="text-align: center; width: 100px;" mat-header-cell *matHeaderCellDef> ADMINISTRACIÓN </th>
                    <td style="text-align: center; " mat-cell *matCellDef="let element"> {{element.administracion| currency}} </td>
                  </ng-container>
                  <!-- ivaadministracion Column -->
                  <ng-container matColumnDef="ivaadministracion">
                    <th style="text-align: center; width: 100px;" mat-header-cell *matHeaderCellDef> IVA </th>
                    <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.ivaadministracion| currency}} </td>
                  </ng-container>
                  <!-- ivaadministracion Column -->
                  <ng-container matColumnDef="comisiontotal">
                    <th style="text-align: center; width: 100px;" mat-header-cell *matHeaderCellDef> COMISIÓN TOTAL </th>
                    <td style="text-align: center; " mat-cell *matCellDef="let element"> {{element.comisiontotal| currency}} </td>
                  </ng-container>
                  <!-- file Column -->
                  <ng-container matColumnDef="seleccionar">
                    <th style="text-align: center; width: 100px;" mat-header-cell *matHeaderCellDef> SELECCIONAR </th>
                    <mat-cell style="text-align: center; width: 100px;" mat-header-cell *matCellDef="let row">
                      <mat-checkbox style="text-align: center; "  (click)="isAllSelected(row)"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="false" >
                      </mat-checkbox>
                    </mat-cell>
                  </ng-container>
                   
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsGarantiasTotal"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsGarantiasTotal;"></tr>
                </table>
              </div>
              <mat-paginator #paginatorGarantiasTotal [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons>
              </mat-paginator>
              <div style=" text-align: center;">
                <ion-button (click)="sumarCargue()">Sumar</ion-button> 
              </div> 
            </ion-card>
              <div style=" text-align: center;">
                <ion-button (click)="cancelarEliminacion()">Cancelar</ion-button> 
              </div>
        </ion-card-header> 
    </ion-content>