<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content> 
<div class="row text-center">
    <div class="col  d-flex justify-content-center"> 
          <a [routerLink]="" (click)="paginaweb()" > <img src="./../../../../assets/img/2.png" width="250px"></a>        
    </div>


    <div class="container col d-flex justify-content-center centrardiv">

            <div class="card " style="width: 25rem;">
              <div class="card-body">
                <h5 class="card-title "><ion-icon name="pin" slot="start"></ion-icon>Iniciar sesión</h5>
                <h5 class="card-title "><ion-icon name="pin" slot="start"></ion-icon>Por favor ingrese sus datos</h5>
                
                                <!--
      * Separador ingreso usuario plataforma figarantias.
      * Forma que empaqueta informacion usuario para ingreso a la plataforma. 
      * Metodo principal:selectOtherIntermediario()
      * AUTH GOOGLE CLOUD FIREBASE SERVICE
      * @author Giovanny Uribe Acevedo  -->
                  <ion-card-content>
                    <ion-item>
                    <ion-label position="floating"><ion-icon name="person-circle-outline"></ion-icon>Usuario</ion-label>
                    <ion-input [formControl]="userControler" [(ngModel)]="user.email" required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon>Contraseña</ion-label>
                    <ion-input [formControl]="passwordControler" [(ngModel)]="user.password" required type="password"></ion-input>
                  </ion-item>
                  </ion-card-content>

                                        <!--
              * Separador boton ingresar
              * Forma que empaqueta ingreso a la plataforma. 
              * Metodo principal:signIn()
              * AUTH GOOGLE CLOUD FIREBASE SERVICE
              * @author Giovanny Uribe Acevedo  -->     
  
            <ion-button fill="outline" slot="end" (ngSubmit)="signIn()" (click)="signIn()" [disabled]="!(userControler.valid && passwordControler.valid)"> Ingresar</ion-button><br>
            
              </div>
          </div>
    </div>
</div> 

</ion-content>
<!-- /*!
* PIE DEL LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#fff">
    © 2020 - {{dates}}  Copyright: FIGARANTIAS Todos los derechos reservados 
  </div>
  <div class="text-center p-3" style="background-color:#fff">
    Version © V-001223
  </div>
  <!-- Copyright -->
</footer>