    <!-- /*!
* PERIODO COBERTURA  PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/menu/periodocobertura)
* pathAplicationConfig=periodocobertura.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* periodocobertura v0.0.1 (HASTECNOLOGIA SAS/menu/creacionusuarios) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
   <ion-content *ngIf="optionsearch=='search'">
    <ion-card-header>
      <div style=" text-align: right;">
        <ion-button fill="outline"  (click)="cerrarConsultar()"><ion-icon name="close-outline"></ion-icon></ion-button>
      </div> 
      
    <div class="page-header">
      <div class="media mb-3">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-4by3 mr-2">
          <img class="avatar-img" src="../../../../assets/img/1.png" alt="Image Description">
        </div>
        <!-- End Avatar -->

        <div class="media-body">
          <div class="row">
            <div class="col-lg mb-3 mb-lg-0">
              <h1 class="page-header-title text-primary text-center" >   VISUALIZACIÓN DE PERIODOS DE COBERTURA DE ESQUEMA DE COMISIÓN MENSUAL</h1> 

              
            </div>

          </div>
        </div>
      </div>
    </div>   
    </ion-card-header> 
    <ion-card>
      <div class="div-table">
        <ion-item>
          <ion-input type="text" (change)="applyFilterEsquemaUnico($event.target.value)"
          (keyup)="applyFilterEsquemaUnico($event.target.value)" placeholder="Filtro de Busqueda">
        </ion-input>
        </ion-item> 
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
               <!-- cobertura Column -->
        <ng-container matColumnDef="idcomision">
          <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef>  ID COMISIÓN </th>
          <td  style="text-align: center" mat-cell *matCellDef="let element"> {{element.idcomision}} </td>
        </ng-container>
      
        <!-- cobertura Column -->
        <ng-container matColumnDef="cobertura">
          <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef>  COBERTURA  </th>
          <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.cobertura}}% </td>
        </ng-container>
      
        <!-- administracion Column -->
        <ng-container matColumnDef="administracion">
          <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef> ADMINISTRACIÓN </th>
          <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.administracion}}% </td>
        </ng-container>
      
        <!-- ivaadministracion Column -->
        <ng-container matColumnDef="ivaadministracion">
          <th style="text-align: center;width: 130px; color: black;"  mat-header-cell *matHeaderCellDef> IVA </th>
          <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.ivaadministracion}}% </td>
        </ng-container>
      
        <!-- comisiontotal Column -->
        <ng-container matColumnDef="comisiontotal">
          <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef> COMISIÓN TOTAL </th>
          <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.comisiontotal}}% </td>
        </ng-container>
        <!-- comisiontotal Column --> 
        
        <!-- VER Column -->
        <ng-container class="ng-container" matColumnDef="ver">
          <th style="text-align: center;width: 130px; color: black;" class="ng-container" mat-header-cell *matHeaderCellDef> VER </th>
          <td style="text-align: center" class="ng-container" mat-cell *matCellDef="let element">
            <ion-button (click)="openVer(element)"><ion-icon name="eye-outline"></ion-icon></ion-button>
          </td>
        </ng-container>  
        
          <!-- VER Column -->
          <ng-container class="ng-container" matColumnDef="historico">
            <th style="text-align: center;width: 130px; color: black;" class="ng-container" mat-header-cell *matHeaderCellDef> HISTÓRICO </th>
            <td style="text-align: center" class="ng-container" mat-cell *matCellDef="let element">
              <ion-button (click)="openhistorico(element)"><ion-icon name="shield-outline"></ion-icon></ion-button>
            </td>
          </ng-container>  

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEsquemaUnico"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEsquemaUnico;"></tr>
      </table>
    </div>  
      <mat-paginator #paginatorEsquemaUnico [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
      </mat-paginator>  
    </ion-card>  
  <ion-card-header>
    <div class="page-header">
      <div class="media mb-3">
        

        <div class="media-body">
          <div class="row">
            <div class="col-lg mb-3 mb-lg-0">
              <h1 class="page-header-title text-primary text-center" >  VISUALIZACIÓN DE ARCHIVOS DE PERIODOS DE COBERTURA DE ESQUEMA DE COMISIÓN MENSUAL</h1> 

              
            </div>

          </div>
        </div>
      </div>
    </div>  
  </ion-card-header>  
    <ion-card> 
        <div class="div-table">
          <ion-item>
            <ion-input type="text" (change)="applyFilterComisiones($event.target.value)"
          (keyup)="applyFilterComisiones($event.target.value)" placeholder="Filtro de Busqueda">
        </ion-input>
          </ion-item> 
          <table mat-table [dataSource]="dataSourceComision" class="mat-elevation-z8">
    
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                   <!-- cobertura Column -->
            <ng-container matColumnDef="idcomision">
              <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef>  ID COMISIÓN </th>
              <td style="text-align: center" mat-cell *matCellDef="let element"> {{element.idcomision}} </td>
            </ng-container>
          
             <!-- file Column -->
             <ng-container matColumnDef="nombrefile">
              <th style="text-align: center;width: 130px; color: black;" mat-header-cell *matHeaderCellDef> ARCHIVO COMISIONES </th>
              <td style="text-align: center" mat-cell *matCellDef="let element">
                <a target="_blank" href="{{element.urlFileUpload}}">{{element.nombrefile}}</a></td>
            </ng-container>
          
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsComisiones"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsComisiones;"></tr>
          </table>
        </div> 
        <mat-paginator #paginatorComisiones [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
        </mat-paginator>  
    </ion-card>
    </ion-content> 
 <!-- /*!
* PERIODO COBERTURA  PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/menu/periodocobertura)
* pathAplicationConfig=periodocobertura.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* periodocobertura v0.0.1 (HASTECNOLOGIA SAS/menu/creacionusuarios) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content id="ver" *ngIf="optionsearch=='ver'">

  <!-- Card -->
  <div #content class="card mb-3 mb-lg-5">
    <div class="card-header">
      <h2 class="card-title h4 text-primary"><i class="tio-node-multiple-outlined nav-icon"></i> INFORMACIÓN DE COMISIÓN</h2>
    </div>

    <!-- Body -->
    <div class="card-body">
      <!-- Form -->
      <form>

        <!-- Form Group -->
        <div class="row form-group">
          <label for="emailLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="beaker-outline"></ion-icon>Descripción
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control"  readonly [(ngModel)]="esquemaunico.descripcion"  
                  [ngModelOptions]="{standalone: true}">
                </ion-input>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="phoneLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="calculator-outline"></ion-icon>Cobertura Para Credito En Mora
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.cobertura"   
            [ngModelOptions]="{standalone: true}">
          </ion-input>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="organizationLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="briefcase-outline"></ion-icon>Administración
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.administracion"   
            [ngModelOptions]="{standalone: true}">
          </ion-input> 
          </div>
        </div>
        <!-- End Form Group -->


        <!-- End Form Group -->

        <!-- Form Group -->
        <div id="accountType" class="row form-group">
          <label class="col-sm-3 col-form-label input-label">
            <ion-icon name="cafe-outline"></ion-icon>Iva
          </label>

          <div class="col-sm-9">
            <div class="input-group input-group-sm-down-break">
              <ion-input class="form-control"  readonly [(ngModel)]="esquemaunico.ivaadministracion" required 
              [ngModelOptions]="{standalone: true}">
            </ion-input>
              <!-- End Custom Radio -->
            </div>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="locationLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="pricetags-outline"></ion-icon>Comisión Total
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.comisiontotal" required 
            [ngModelOptions]="{standalone: true}">
          </ion-input> 
          </div>
        </div>
        <!-- End Form Group -->
 
        <!-- Form Group -->
        <div class="row form-group">
          <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="pin-outline"></ion-icon>Creado Por
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.creadopor" required
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </div>
        </div>
        <!-- End Form Group -->


        <!-- Form Group -->
        <div class="row form-group">
          <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="calendar-outline"></ion-icon>Credo En
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.creadoen" required
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group ">
          <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="business-outline"></ion-icon>Modificado Por
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.modificadopor" required
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </div>
        </div>

        <!-- Form Group -->
        <div class="row form-group ">
          <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="calendar-outline"></ion-icon>Modificado En
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.modificadoen" required
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </div>
        </div>
        <!-- End Form Group -->

        <!-- Form Group -->
        <div class="row form-group">
          <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
            <ion-icon name="newspaper-outline"></ion-icon>Modificación Causa
          </label>

          <div class="col-sm-9">
            <ion-input class="form-control" readonly [(ngModel)]="esquemaunico.modificacioncausa" required
              [ngModelOptions]="{standalone: true}">
            </ion-input>
          </div>
        </div>

        <!-- End Form Group -->

      </form>
      <!-- End Form -->
    </div>
    <!-- End Body -->
  </div>
  <!-- End Card -->
  <div style=" text-align: center;"> 
    <ion-button (click)="close()">Cerrar</ion-button>
  </div>
</ion-content>