<!-- /*!
* LOGIN PAGINA SOFTWARE FIGARANTIAS EN IONIC 5 ANGULAR 9 MATERIAL 9 Bootstrap 4.5.3 - Agency v1 (HASTECNOLOGIA SAS)
* Copyright 2020-2021 Start HASTECNOLOGIA S.A.S 
* @author HASTECNOLOGIA S.A.S Copyright 2020-2021 The FIGARANTIAS Authors
* pathweb=(HASTECNOLOGIA SAS/login/)
* pathAplicationConfig=login.page.html
* SecurityContext: @angular/fire/auth, APPLICATION_XML,'Access-Control-Allow-Origin' (solo por peticion Get se accede a este metodo)
*/*!
* login v0.0.1 (HASTECNOLOGIA SAS/login) 
* Copyright 2020-2021 FIGARANTIAS, Inc. 
* Licensed under MIT (HASTECNOLOGIA SAS)
*/ -->
<ion-content>
  <div #createSection id="createSection" class="card mb-3 mb-lg-5">
    <div class="page-header">
      <div class="media mb-3">
        <!-- Avatar -->
        <div class="avatar avatar-xl avatar-4by3 mr-2">
          <img class="avatar-img" src="../../../../assets/img/1.png">
        </div>
        <!-- End Avatar -->

        <div class="media-body">
          <div class="row">
            <div class="col-lg mb-3 mb-lg-0">
              <h1 class="page-header-title text-primary text-center"> ADMINISTRACIÓN DE CAMPAÑAS COBRADOR
              </h1>


            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Body -->
    <div class="card-body">


      <!-- End Form Group -->

      <!-- End Form Group -->

      <!-- End Form Group -->

      <!-- Form Group -->
      <!-- Form Group -->
      <div class="row form-group">
        <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
          <ion-icon name="business-outline"></ion-icon> Intermediario
        </label>

        <div class="col-sm-9">
          <div class="row gx-2 gx-lg-3">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="input-group">
                  <ion-input type="text" (change)="filterItems($event.target.value)"
                    (keyup)="filterItems($event.target.value)" placeholder="Filtro de Busqueda">
                  </ion-input>
                  <div class="input-group-append">
                    <button (click)="getIntemediarios()" class="btn btn-primary" type="button">
                      <ion-icon name="refresh-circle-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <ion-select class="form-control" [(ngModel)]="campana.intermediario" [ngModelOptions]="{standalone: true}"
            required>
            <ion-select-option *ngFor="let intermediario of intermediarios" value="{{intermediario.nit}}">
              {{intermediario.sigla}}
            </ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="row form-group">
        <label for="zipCodeLabel" class="col-sm-3 col-form-label input-label">
          <ion-icon name="notifications-circle-outline"></ion-icon> Cobrador
        </label>

        <div class="col-sm-9">
          <ion-select class="form-control" interface="popover" [(ngModel)]="campana.cobrador"
            [ngModelOptions]="{standalone: true}" required>
            <ion-select-option *ngFor="let user of users" value="{{user.email}}">{{user.nombre}}
            </ion-select-option>
          </ion-select>
        </div>
      </div>
      <ion-button fill="outline" (click)="RegisterUsuario()">
        <ion-icon name="person-add-outline"></ion-icon>Crear
      </ion-button>
    </div>
    <!-- End Body -->
  </div>
  <div *ngIf=" edit == 'false'" class="content container-fluid">
    <!-- Page Header -->

    <!-- End Media -->

    <ion-card>
      <ion-item>
        <ion-input type="text" (change)="applyFilterIntermediarios($event.target.value)"
          (keyup)="applyFilterIntermediarios($event.target.value)" placeholder="Filtro de Busqueda">
        </ion-input>
      </ion-item>
      <div class="div-table">

        <table mat-table [dataSource]="dataSourceSuper" class="mat-elevation-z8">

          <!--  
 * Separador INTERMEDIARIO Column
 * Forma que empaqueta boton de ver el Intermediario. 
 * Metodo principal:verModalCreacionVer(element);
 * AUTH GOOGLE CLOUD FIREBASE SERVICE
 * @author Giovanny Uribe Acevedo  -->
          <ng-container class="ng-container" matColumnDef="email">
            <th style="text-align: center;width: 130px; color: black;" class="ng-container" mat-header-cell
              *matHeaderCellDef>
              INTERMEDIARIO</th>
            <td style="text-align: center;" class="ng-container" mat-cell *matCellDef="let element">
              {{element.intermediarionombre}} </td>
          </ng-container>

          <!--  
 * Separador INTERMEDIARIO Column
 * Forma que empaqueta boton de ver el Intermediario. 
 * Metodo principal:verModalCreacionVer(element);
 * AUTH GOOGLE CLOUD FIREBASE SERVICE
 * @author Giovanny Uribe Acevedo  -->
          <ng-container class="ng-container" matColumnDef="rol">
            <th style="text-align: center;width: 130px; color: black;" class="ng-container" mat-header-cell
              *matHeaderCellDef>
              COBRADOR</th>
            <td style="text-align: center;" class="ng-container" mat-cell *matCellDef="let element">
              {{element.cobrador}} </td>
          </ng-container>


          <ng-container class="ng-container" matColumnDef="delete">
            <th style="text-align: center;width: 130px; color: black;" class="ng-container" mat-header-cell
              *matHeaderCellDef>
              ELIMINAR </th>
            <td style="text-align: center; " class="ng-container" mat-cell *matCellDef="let element">
              <ion-button (click)="eliminarUsuarioConfirmacion(element)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSuperM"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSuperM;"></tr>
        </table>
      </div>
      <mat-paginator #paginatorSuper [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons>
      </mat-paginator>
    </ion-card>
  </div>
</ion-content>